services:
  postgres:
    container_name: postgres-18.0
    image: postgres:18.0
    ports:
      - "5432:5432"
    restart: on-failure
    volumes:
      - ./volumes/postgresql/18.0/data:/var/lib/postgresql
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USR}
      - POSTGRES_PASSWORD=${POSTGRES_PWD}
  redis:
    image: redis:8.4.0-alpine
    restart: on-failure
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis/data:/data
    env_file:
      - .env
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      --notify-keyspace-events Egx
  business-application:
    build:
      context: ..
      dockerfile: /docker/builder/back/DockerfileBusinessApplication
    container_name: business-application
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ./volumes/application/log:/log
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USR=${POSTGRES_USR}
      - POSTGRES_PWD=${POSTGRES_PWD}
