app:
  regexp:
    login: "^[\\w.+-]+@[\\w.-]+\\.[A-Za-z]{2,}$"
    password: "^[a-zA-Z0-9!@#$%^&*()_+\\-=\\[\\]{}|:,.<>?/`~]+$"
    phoneNumber: "^\\+7\\d{10}$"

server:
  servlet:
    session:
      cookie:
        max-age: ${spring.session.timeout}
        path: "/base-project/rest"
        name: "AS-SESSION"
        http-only: true
        secure: true
        same-site: strict

spring:
  session:
    store-type: redis
    timeout: 30m
    redis:
      namespace: "base-project"
      flush-mode: on-save
      repository-type: indexed
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PWD}
      lettuce:
        pool:
          min-idle: 2
  config:
    activate:
      on-profile: "security"

security:
  password:
    count-days-password-expire: 365
    strength: 12 #2^strength итераций хеширования пароля.
    pepper: "8zMs-eiAYK"
    algorithm: "BCRYPT"
    history:
      depth: 5
  cors:
    allowed-origins:
      - "https://some-prod-host.ru"
    allowed-methods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
      - "HEAD"
    allowed-headers: { }
  session:
    limit-per-channel:
      attribute-name: "RQ_CHANNEL"
      limit-map:
        WEB: 1
        MOBILE: 1
    remember-me:
      attribute-name: "RQ_REMEMBER_ME"
      max-age: 3d
  cookie:
    csrf:
      name: "XSRF-TOKEN"
      max-age: ${server.servlet.session.cookie.max-age}
      path: ${server.servlet.session.cookie.path}
      http-only: ${server.servlet.session.cookie.http-only}
      secure: ${server.servlet.session.cookie.secure}
      same-site: ${server.servlet.session.cookie.same-site}
    cookie-refresh-filter:
      exclude-paths:
        - "/authentication/logout"
        - "/authentication/password/change"
      candidate-to-refresh:
        - ${server.servlet.session.cookie.name}
        - ${security.cookie.csrf.name}
