name: 'Commit Message Check'

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches:
      - 'main'
      - 'master'
      - 'develop'
      - 'releases/*'
      - 'hotfix/*'

jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message format
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: "^BP - .+$"
          error: 'Сообщение коммита должно быть в формате: "BP - Описание"'
          checkAllCommitMessages: "true"
          excludeDescription: "true"
          excludeTitle: "false"
