name: 'Commit Message Check'

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches:
      - 'main'
      - 'develop'
      - 'releases/*'
      - 'hotfix/*'

permissions:
  contents: read

jobs:
  check-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Check commit message format
        uses: gsactions/commit-message-checker@v2
        with:
          #pattern: "^BP-\\d+ - .+$" #Пример: BP-1 Название задачи.
          pattern: "^BP - .+$" #Пример: BP - Название задачи.
          error: 'Сообщение коммита должно быть в формате: "BP - Описание"'
          excludeDescription: "true"
          excludeTitle: "false"
